REACT_APP_SUPABASE_URL=https://swdtjnvggdvmkmojtbbw.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN3ZHRqbnZnZ2R2bWttb2p0YmJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDMwMzI5MDQsImV4cCI6MjA1ODYwODkwNH0.WPCR2mv_4hnwO_z7H8PZZJ1tRQQY0dDqv2PP-bnMRUA 